*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 16px;
}

body {
    height: 100%;
    margin: 0;
    background-color: #222;
    color: #fff;
    font-family: Play, sans-serif;
}

strong {
    font-style: normal;
    font-weight: 700;
}

.background {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;    
}

.background-vid {
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
}

.background-filter-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: #333;
    opacity: 0.5;
}

.background-filter-main {
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #999;
    opacity: 0.5;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 0 20px;      
}

.title {
    font-size: 50px;
    user-select: none;    
}

main {
    position: fixed;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;    
    overflow-y: auto;
    padding: 40px;
}

.cell {
    position: relative;
    min-width: 300px;
    min-height: 280px;
    user-select: none;    
}

@keyframes cell-back-breath-anim {
    0% {
        transform: scale(1.0);
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        opacity: 0.75;
    }
    33% {
        transform: scale(1.1);
        border-radius: 70% 30% 30% 70% / 30% 30% 70% 70%;    
        opacity: 0.6;
    }
    100% {
        transform: scale(1.0);
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%; 
        opacity: 0.75;
    }
}

@keyframes cell-data-breath-anim {
    0% {
        transform: scale(1.0) translateX(0);
    }
    33% {
        transform: scale(1.1) translateX(10px);
    }
    100% {
        transform: scale(1.0) translateX(0);
    }
}

.cell:nth-child(1) > .cell-background,
.cell:nth-child(1) > .cell-data {
    animation-delay: 0.0s;
}
.cell:nth-child(2) > .cell-background,
.cell:nth-child(2) > .cell-data {
    animation-delay: 0.25s;
}
.cell:nth-child(3) > .cell-background,
.cell:nth-child(3) > .cell-data {
    animation-delay: 0.5s;
}
.cell:nth-child(4) > .cell-background,
.cell:nth-child(4) > .cell-data {
    animation-delay: 0.75s;
}
.cell:nth-child(5) > .cell-background,
.cell:nth-child(5) > .cell-data {
    animation-delay: 1.0s;
}
.cell:nth-child(6) > .cell-background,
.cell:nth-child(6) > .cell-data {
    animation-delay: 1.25s;
}
.cell:nth-child(7) > .cell-background,
.cell:nth-child(7) > .cell-data {
    animation-delay: 1.5s;
}
.cell:nth-child(8) > .cell-background,
.cell:nth-child(8) > .cell-data {
    animation-delay: 1.75s;
}
.cell:nth-child(9) > .cell-background,
.cell:nth-child(9) > .cell-data {
    animation-delay: 2.0s;
}
.cell:nth-child(10) > .cell-background,
.cell:nth-child(10) > .cell-data {
    animation-delay: 2.25s;
}
.cell:nth-child(11) > .cell-background,
.cell:nth-child(11) > .cell-data {
    animation-delay: 2.5s;
}
.cell:nth-child(12) > .cell-background,
.cell:nth-child(13) > .cell-data {
    animation-delay: 2.75s;
}

.cell-background {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 250px;
    min-height: 250px;
    border: 1px solid #333;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    background-image: linear-gradient(to right, #222, #666);
    opacity: 0.75;
    animation-name: cell-back-breath-anim;
    animation-duration: 5.0s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;    
}

.cell-data {
    position: absolute;
    left: 50px;
    top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 22px 22px 22px 22px;
    line-height: 20px;
    animation-name: cell-data-breath-anim;
    animation-duration: 5.0s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;    
}

.product-name {
      grid-column: 1 / 3;
      font-size: 24px;    
}

.label {
      font-style: italic;
      color: #ccc;
}

.color-tag::after {
    padding: 0 3px;
}
.color-tag--green::after {
      content: "GREEN";
      color: #fff;
      background-color: #228822;  
}
.color-tag--yellow::after {
    content: "YELLOW";
    color: #fff;
    background-color: #888822;
}
.color-tag--red::after {
    content: "RED";
    color: #fff;
    background-color: #882222;
}  
