*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 16px;
}

body {
    height: 100%;
    margin: 0;
    background-color: #222;
    color: #fff;
    font-family: Play, sans-serif;
}

strong {
    font-style: normal;
    font-weight: 700;
}

.background {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;    
}

.background-vid {
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
}

.background-filter-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: #000;
    border-bottom: 1px solid #fff;  
    opacity: 0.75;
}

.background-filter-main {
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.5;       
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 0 20px;      
}

.title {
    font-size: 50px;    
}

main {
    position: fixed;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    display: flex;    
}

@keyframes breath {
    0% {
      transform: scale(1.0);
      background-color: #444;
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }
    40% {
      transform: scale(1.15);
      background-color: #555;
      border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
    }
    100% {
      transform: scale(1.0);
      background-color: #444;
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }
  }

  .a {
    margin: 30px;
    min-width: 250px;
    max-width: 250px;
    min-height: 250px;
    max-height: 250px;
    opacity: 0.75;
    border: 1px solid #666;
  }
  
  .a:nth-child(1) {
    animation: breath 5.0s 0.0s ease infinite;
  }
  .a:nth-child(2) {
    animation: breath 5.0s 0.25s ease infinite;
  }
  .a:nth-child(3) {
    animation: breath 5.0s 0.5s ease infinite;
  }
  .a:nth-child(4) {
    animation: breath 5.0s 0.75s ease infinite;
  }
  .a:nth-child(5) {
    animation: breath 5.0s 1.0s ease infinite;
  }
  .b {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 44px 24px 24px 24px 24px;
    position: absolute;
    left: 90px;
    top: 80px;
    line-height: 20px;
  }
  .product-name {
      grid-column: 1 / 3;
      font-size: 24px;    
  }
  .green::after {
      content: "GREEN";
      color: #fff;
      background-color: #006600;
      padding: 0 3px;
  }
  .red::after {
    content: "RED";
    color: #fff;
    background-color: #990000;
    padding: 0 3px;
  }
